<!DOCTYPE html>
<html>
<head>
	<title>Wernicke Zone</title>

    <link rel="stylesheet" href="../assets/bootstrap.css">
    <link rel="stylesheet" href="../assets/animate.css">
    <link rel="stylesheet" href="../assets/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/font-awesome.css">
    <link rel="stylesheet" href="../assets/slick.css">
    <link rel="stylesheet" href="../assets/settings.css">    
    <link rel="stylesheet" href="../assets/eco_outils.css">
	<%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>
	<%= csrf_meta_tags %>
</head>
<body>

    <div class="pre-loader">
        <div class="load-con">
            <%= image_tag "eco/logo.png" , class: "animated fadeInDown" %>
            <div class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
        </div>
    </div>
   
    <header>
        
        <nav class="navbar navbar-default navbar-fixed-top scrolled" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="fa fa-bars fa-lg"></span>
                        </button>
                        <a class="navbar-brand" href="landing">
                            <%= image_tag "eco/logo.png" , class: "logo" %>
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav navbar-right">
                            <li>
							<%= link_to "Retour à l'Accueil", "landing", class:"getApp" %>
                           
                            </li>
                            
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-->
        </nav>
    </header>


    <div class="wrapper">

<section class="">
<div class="container">
<div class="section-heading scrollpoint sp-effect3">
                    <h1  style="color:white">Générateurs Wz</h1>
                    <div class="divider"></div>
                    <p style="color:white">Sélectionnez un de nos outils</p>
                </div>
<div class="row">
     </div>
     <div class="col-md-12 text-center select">
     <%= link_to "TEXTE A TROUS", "tat" , class: "btn btn-primary inverse btn-lg scrollpoint sp-effect3" %> 
      &nbsp;&nbsp;<%= link_to "QCM", "qcm" , class: "btn btn-primary inverse btn-lg scrollpoint sp-effect3" %>  
     </div>
     </div>
</section>
        


       

        

        

        <footer>
            <div class="container">
            </div>
                <a href="#" class="scrollpoint sp-effect3">
                   <%= image_tag "eco/logo.png", class: "logo" %>
                </a>
                <div class="social">
                    <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-twitter fa-lg"></i></a>
                    <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-google-plus fa-lg"></i></a>
                    <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-facebook fa-lg"></i></a>
                </div>
                <div class="rights">
                    <p>Copyright &copy; 2015</p>
                    
                </div>
            </div>
        </footer>

    </div>
    
    <script>
        $(document).ready(function() {
            appMaster.preLoader();
        });
    </script>
</body>

</html>
