
<!DOCTYPE html>
<html>
<head>
	<title>Wernicke Zone</title>

	<link rel="stylesheet" href="../assets/bootstrap.css">
	<link rel="stylesheet" href="../assets/animate.css">
	<link rel="stylesheet" href="../assets/font-awesome.min.css">
	<link rel="stylesheet" href="../assets/font-awesome.css">
	<link rel="stylesheet" href="../assets/slick.css">
	<link rel="stylesheet" href="../assets/settings.css">    
	<link rel="stylesheet" href="../assets/eco_outils.css">
	<script src="../assets/application.js"></script>
	<script type="text/javascript" src="../assets/modernizr.custom.32033.js"></script>
	<script src="../assets/jquery-1.11.1.min.js"></script>
	<script src="../assets/bootstrap.min.js"></script>
	<script src="../assets/slick.min.js"></script>
	<script src="../assets/placeholdem.min.js"></script>
	<script src="../assets/rs-plugin/jquery.themepunch.plugins.min.js"></script>
	<script src="../assets/rs-plugin/jquery.themepunch.revolution.min.js"></script>
	<script src="../assets/waypoints.min.js"></script>
	<script src="../assets/scripts_outils.js"></script>
	<%= favicon_link_tag 'favicon.png' %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div class="pre-loader">
		<div class="load-con">
			<%= image_tag "eco/logo.png" , class: "animated fadeInDown" %>
			<div class="spinner">
				<div class="bounce1"></div>
				<div class="bounce2"></div>
				<div class="bounce3"></div>
			</div>
		</div>
	</div>

	<header>

		<nav class="navbar navbar-default navbar-fixed-top scrolled" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="fa fa-bars fa-lg"></span>
					</button>
					<a class="navbar-brand" href="landing">
						<%= image_tag "eco/logo.png" , class: "animated fadeInDown" %>
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

					<ul class="nav navbar-nav navbar-right">
						<li><%= link_to "Retour à l'Accueil", "landing", class:"getApp" %>
						</li>

					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-->
		</nav>
	</header>


	<div class="wrapper">
		<section>
			<div class="container">
				<div class="row" style="pull-left">
					<div class="col-sm-3">
						<!-- Left column -->
						<h4><i class="fa fa-bars fa-2x"></i> Menu</h4>
						<dhr><br> <br>
						<%= form_for :session do |f| %>
							<div class="form-group">
								Proportion texte masquée
								<%= f.select(:hiddenText, ['20%','30%','40%','50%'], {}, { :class => 'form-control'})%>
								<br>
								<div class="form-group">
								  Marge d'erreur
								  <%= f.select(:errorMargin, ['0','1','2','3'], {}, { :class => 'form-control'})%>
							</div></div>
							<%= f.submit "Génération", class: 'btn btn-default inverse pull-left' %>
							</div><!-- /col-3 -->
							<div class="col-sm-6">

								<h4><i class="fa fa-gears fa-2x"></i> Générateur Texte à Trous</h4>
								<dhr>
									<br> <br>
									<div class="row">
										<div class="col-sm-12">

											
											<div class="field form-group centered">
											  <h4>Telechargez directement un fichier texte</h4>
											  <% f.label :inputFile, class: 'btn btn-default centered' %>
											  <%= f.file_field :inputFile, class: 'btn btn-default centered' %>
											</div>
											<br><h4>- OU -</h4><br>
											<div class="field form-group">
											  <h4>Inserez ici directement un texte</h4>
											  <%= f.submit "RAZ zone de texte", class: 'btn btn-default inverse pull-right', onClick: "this.form.reset(); document.getElementById('session_inputText').value=''" %><br><br>
											  <% f.label :inputText, class: 'control-label' %>
											  <% if(!@tat.tat_content.nil? && @tat.tat_content != "") %>
											  <% i = 0 %>
											  <% tat_content = @tat.tat_content.split ('|-@-|') %>
											  <% tat_repsonses = @tat.tat_responses.split ('|-@-|') %>
											  <% j = tat_content.count %>
											  <% tat_content.each do |a| %>
											  <% i=i+1 %>
											  <%= f.label i, a %>
											  <% if (i < j) %><%= f.text_field i, class: 'form' %><% end %>
											  <% end %>
											  <% elsif(@tat.fullText.nil?) %>
											  <%= f.text_area :inputText, class: 'form-control', size: '30x10' %>
											  <% else %>
											  <%= f.text_area :inputText, class: 'form-control', size: '30x10', value: @tat.fullText %>
											  <% end %>
											</div>
											<div class="actions form-group">
											
											</div>
											<% end %>
										</div></div></div>
										<div class="col-sm-3">
											<!-- Left column -->
											<h4><i class="fa fa-question-circle fa-2x"></i> Guide</h4>
											<dhr>
												<div class="pull-left">
													<br><br>
													1 – choix/saisie du texte <br><br> 
													2 – choix des options <br><br>
													3 – clic sur « Génération » <br><br>
													0 – clic sur RAZ pour annuler les modifications.
												</div>
											</div><!-- /col-3 -->

											<!-- center left--> 
										</div><!--/row-->




									</div>
								</div>
								<!-- /Main -->
							</section>

							<footer>
								<div class="container">
								</div>
								<a href="#" class="scrollpoint sp-effect3">
									<%= image_tag "eco/logo.png", class: "logo" %>
								</a>
								<div class="social">
									<a href="#" class="scrollpoint sp-effect3"><i class="fa fa-twitter fa-lg"></i></a>
									<a href="#" class="scrollpoint sp-effect3"><i class="fa fa-google-plus fa-lg"></i></a>
									<a href="#" class="scrollpoint sp-effect3"><i class="fa fa-facebook fa-lg inverse"></i></a>
								</div>
								<div class="rights">
									<p>Copyright &copy; 2015</p>

								</div>
							</div>
						</footer>

					</div>
					<script>
						$(document).ready(function() {
							appMaster.preLoader();
						});
					</script>
				</body>

				</html>
