<!DOCTYPE html>
<html>
<head>
	<title>Wernicke Zone</title>

	<link rel="stylesheet" href="../assets/bootstrap.css">
	<link rel="stylesheet" href="../assets/animate.css">
	<link rel="stylesheet" href="../assets/font-awesome.min.css">
	<link rel="stylesheet" href="../assets/font-awesome.css">
	<link rel="stylesheet" href="../assets/slick.css">
	<link rel="stylesheet" href="../assets/settings.css">    
	<link rel="stylesheet" href="../assets/eco_outils.css">
	<link rel="stylesheet" href="../assets/tat.css">
	<link rel="stylesheet" href="../assets/introjs.css">
	<script src="../assets/application.js"></script>
	<script type="text/javascript" src="../assets/modernizr.custom.32033.js"></script>
	<script src="../assets/jquery-1.11.1.min.js"></script>
	<script src="../assets/bootstrap.min.js"></script>
	<script src="../assets/slick.min.js"></script>
	<script src="../assets/placeholdem.min.js"></script>
	<script src="../assets/rs-plugin/jquery.themepunch.plugins.min.js"></script>
	<script src="../assets/rs-plugin/jquery.themepunch.revolution.min.js"></script>
	<script src="../assets/waypoints.min.js"></script>
	<script src="../assets/scripts_outils.js"></script>
	<script src="../assets/intro.js"></script>
	<%= favicon_link_tag 'favicon.png' %>
	<%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/menu" %>
  
	<div class="wrapper">
		<section>
			<div class="container">
				<div class="row" style="">

					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">

						<h4><i class="fa fa-spinner fa-2x"></i> Générateur Texte à Trous</h4>
						<hr>
						<br> 

						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<% @tat.step %>
							<%= form_for :session do |f| %>
							<% if(@tat.step == "tat" && !@tat.tat_content.nil? && @tat.tat_content != "") %>
								<%= 	render "tat/tat", :f => f, :tat => @tat %>
								<% elsif(@tat.step == "answers") %>
								<%= 	render "tat/answers", :f => f, :tat => @tat %>
								<% elsif(@tat.step == "init" || @tat.fullText.nil?) %>
								<%= 	render "tat/init", :f => f %>
								<% elsif (@tat.step == "file") %>
								<%= 	render "tat/file", :f => f %>
								<% end %>
						</div>
					</div>

					<div class="col-xs-12 col-sm-3 col-md-4 col-lg-3">
					<h4><i class="fa fa-gears fa-2x"></i> Paramètres</h4>
					<hr><br> 
						<div class="offer" data-step="3" data-intro="Pour un texte à trous plus simple, sélectionnez une proportion de texte masquée plus petite et une marge d'erreur plus élevée (0 - Aucune tolérance sur les erreurs. 1 - Tolérance grammaticale. 2 - Niveau 1 et synonymes tolérées.); le texte généré aura moins de trous, et la correction moins sévère." data-position='bottom'>
							<div class="offer-content">

								<div class="form-group">
									Proportion texte masquée
									<% if (session[:hiddenText].nil?) %>
									<%= 	f.select(:hiddenText, ['10%','20%','30%','40%'], {}, { :class => 'form-control'})%>
									<% else %>
									<%= 	f.select(:hiddenText, ['10%','20%','30%','40%'], {:selected => session[:hiddenText]}, { :class => 'form-control'})%>
									<% end %>
									<br>
									<div class="form-group">
										Marge d'erreur
										<% if (session[:errorMargin].nil?) %>
										<%= f.select(:errorMargin, ['0','1','2'], {}, { :class => 'form-control'})%>
										<% else %>
										<%= f.select(:errorMargin, ['0','1','2'], {:selected => session[:errorMargin]}, { :class => 'form-control'})%>
										<% end %>
									</div>
								</div>
								<%= f.submit "Génération", class: 'btn btn-default inverse pull-left' %>
								<% end %>
							</div>
						</div>
					</div>
					<!-- center left--> 
				</div><!--/row-->
			</div>
		</div>
		<!-- /Main -->
		</section>
	        <%= render "layouts/footer" %>
	</div>
	<script>
		$(document).ready(function() {
			appMaster.preLoader();
		});
	</script>
	</body>
</html>
