<p> <%= @qcm.qcm_content %></p>
<p> <%= @qcm.qcm_answers %></p>
<p> <%= @qcm.is_right %></p>
<%= form_for(:session) do |f| %>

<div class="offer">
	<div class="offer-content">
		<div class="field form-group centered">
			<h4><i class="fa fa-check"></i> Génération effectuée </h4>
			<br>
			<div id="tat-back">
				<% i = 0 %>
				<% qcm_content = @qcm.qcm_content.split (session[:splitter]) %>
				<% qcm_choices = @qcm.qcm_choices.split (session[:splitter]) %>
				<% j = qcm_content.count %>
				<% qcm_content.each do |a| %>
				<% 	i=i+1 %>
				<%	if (a.nil? || a == '')%>
				<%=	 	f.label a %>
				<%	else%>
				<%= 		f.label i, a %>
				<%	end%>
				<% 	if (i < j) %>
				<%= 	f.select(i, qcm_choices, { include_blank: false})%>
				<% 	end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<ul class="list-inline pull-right">
	<br>
	<li><button type="submit" class="btn btn-default next-step"> <i class="fa fa-caret-square-o-right"></i> Étape suivante</button></li>
</ul>
<% end %>
