<!DOCTYPE html>
<html>
<head>
	<title>Wernicke Zone</title>

	<link rel="stylesheet" href="../assets/bootstrap.css">
	<link rel="stylesheet" href="../assets/animate.css">
	<link rel="stylesheet" href="../assets/font-awesome.min.css">
	<link rel="stylesheet" href="../assets/font-awesome.css">
	<link rel="stylesheet" href="../assets/slick.css">
	<link rel="stylesheet" href="../assets/settings.css">    
	<link rel="stylesheet" href="../assets/eco_outils.css">
	<link rel="stylesheet" href="../assets/tat.css">
	<link rel="stylesheet" href="../assets/introjs.css">
	<link rel="stylesheet" href="../assets/wizard.css">
	<script src="../assets/wizard.js"></script>

	<script src="../assets/application.js"></script>
	<script type="text/javascript" src="../assets/modernizr.custom.32033.js"></script>
	<script src="../assets/jquery-1.11.1.min.js"></script>
	<script src="../assets/bootstrap.min.js"></script>
	<script src="../assets/slick.min.js"></script>
	<script src="../assets/placeholdem.min.js"></script>
	<script src="../assets/rs-plugin/jquery.themepunch.plugins.min.js"></script>
	<script src="../assets/rs-plugin/jquery.themepunch.revolution.min.js"></script>
	<script src="../assets/waypoints.min.js"></script>
	<script src="../assets/scripts_outils.js"></script>
	<script src="../assets/intro.js"></script>
	<%= favicon_link_tag 'favicon.png' %>
	<%= csrf_meta_tags %>
</head>
<body>
	<%= render "layouts/menu" %>

	<div class="wrapper">

		<div class="container">
			<div class="row">
				<section>
					<span style="background-color:white; color:#3fa599; font-size:24px; padding:2px;border-radius:2px"> > Générateur de QCM</span>
					<div class="wizard">
						<div class="wizard-inner">
							<div class="connecting-line"></div>
							<ul class="nav nav-tabs" role="tablist">

								<li role="presentation" class="disabled">
									<a href="#init" data-toggle="tab" aria-controls="init" role="tab" title="Step 1">
										<span class="round-tab">
											<i class="fa fa fa-file-text"></i>
										</span>
									</a>
								</li>

								<li role="presentation" class="disabled">
									<a href="#file" data-toggle="tab" aria-controls="file" role="tab" title="Step 2">
										<span class="round-tab">
											<i class="fa fa fa-sliders"></i>
										</span>
									</a>
								</li>
								<li role="presentation" class="disabled">
									<a href="#qcm" data-toggle="tab" aria-controls="qcm" role="tab" title="Step 3">
										<span class="round-tab">
											<i class="fa fa-pencil"></i>
										</span>
									</a>
								</li>

								<li role="presentation" class="disabled">
									<a href="#answers" data-toggle="tab" aria-controls="answers" role="tab" title="Complete">
										<span class="round-tab">
											<i class="fa fa-check"></i>
										</span>
									</a>
								</li>
							</ul>
						</div>
<p> TEST d'affichage de la session : <%= session[:key] %></p>
<p> TEST d'affichage de la session : <%= session[:sam] %></p>
<p> TEST d'affichage du qcm : <%= @qcm.id %></p>
<p> TEST d'affichage du qcm : <%= @qcm.step %></p>

						<div class="tab-content">
							<% if(@qcm.step == "init") %>

							<div class="tab-pane" role="tabpanel" id="init">
								<h3 style="color:white"><i class="fa fa-angle-double-right"></i> Etape 1 </h3>
									<%= render "qcm/init" %>
							</div>
							<% elsif(@qcm.step == "file") %>

							<div class="tab-pane" role="tabpanel" id="file">
								<h3 style="color:white"><i class="fa fa-angle-double-right"></i> Etape 2 </h3>
								<ul class="list-inline pull-right">
									<%= render "qcm/file" %>
								</ul>
							</div>
							<% elsif(@qcm.step == "qcm") %>
							<div class="tab-pane" role="tabpanel" id="qcm">
								<h3 style="color:white"><i class="fa fa-angle-double-right"></i>Etape 3</h3>
								<ul class="list-inline pull-right">
									<%= render "qcm/qcm" %>
								</ul>
							</div>
							<% elsif (@qcm.step == "answers") %>
							<div class="tab-pane" role="tabpanel" id="answers">
								<h3 style="color:white"><i class="fa fa-angle-double-right"></i>Etape 4</h3>
								<ul class="list-inline pull-right">
									<%= render "qcm/answers" %>
								</ul>
							</div>
							<% end %>
							<div class="clearfix"></div>
						</div>
					</form>
				</div>
			</section>
		</div>
	</div>
	<%= render "layouts/footer" %>
</div>
<script>
	$(document).ready(function() {
		appMaster.preLoader();

		var tab = $("a[aria-controls='<%= @qcm.step%>']")
		tab.parent().toggleClass("active").toggleClass("disabled")

		var div = $("div[id='<%= @qcm.step%>']").toggleClass("active")

	});


</script>
</body>

</html>

